@{
    ViewData["Title"] = ViewData["ShowName"];
}

<script type="text/javascript">
    var calendarUrl = "@ViewData["CalendarUrl"]";
    var eventsUrl = "@ViewData["EventsUrl"]";
    var viewShowUrl = "@ViewData["ViewShowUrl"]";
</script>

<div class="text-center">
    <h1 class="display-4">@ViewData["ShowName"]</h1>
</div>

<div id="calendarUrl" class="center-block mb-1" style="display: none">
    <div class="input-group mb-1">
        <input class="form-control border-right-0" type="text" readonly />
        <span class="input-group-btn">
            <button class="copy-button btn btn-outline-secondary rounded-0" type="button" data-toggle="tooltip" title="Copied!">Copy</button>
        </span>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="#" class="download-button btn btn-outline-secondary">Download</a>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="subscribeMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Subscribe
                    </button>
                    <div class="dropdown-menu" aria-labelledby="subscribeMenuButton">
                        <button class="subscribe-button dropdown-item" data-subscribe-type="google" type="button">Google Calendar</button>
                        <button class="subscribe-button dropdown-item" data-subscribe-type="outlook" type="button">Outlook.com</button>
                        <button class="subscribe-button dropdown-item" data-subscribe-type="webcal" type="button">Your device's default calendar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingSpinner" class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div id="calendar">
</div>

<div id="eventSummaryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="eventTitle" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">Time</dt>
                    <dd id="eventTime" class="col-sm-9"></dd>

                    <dt class="col-sm-3">Location</dt>
                    <dd id="eventLocation" class="col-sm-9"></dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd id="eventDescription" class="col-sm-9"> class="col-sm-9"></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
