@{
    ViewData["Title"] = ViewData["ShowName"];
}

<script type="text/javascript">
    var calendarUrl = "@ViewData["CalendarUrl"]";
    var eventsUrl = "@ViewData["EventsUrl"]";
    var viewShowUrl = "@ViewData["ViewShowUrl"]";
</script>

<div class="text-center">
    <h1 class="display-4">@ViewData["ShowName"]</h1>
</div>

<div id="calendarUrl" class="center-block" style="display: none">
    <div class="input-group">
        <input class="form-control border-right-0" type="text" readonly />
        <span class="input-group-btn">
            <button class="btn btn-outline-secondary rounded-left-0" type="button" data-toggle="tooltip" title="Copied!">Copy</button>
        </span>
    </div>
</div>

<div id="calendar">
    <div class="spinner-border center-block" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
